{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.user }}</a>
                  <small class="text-muted">{{ post.postDate }}</small>
                  <small class="text-muted">{{ post.views }} просмотров</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <h3><p class="mr-2">{{ post.description }}</p></h3>
                <p class="article-content">{{ post.content|linebreaks }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}