{% extends "base.html" %}
{% block content %}


    {% if search_query %}
        <p>Результаты поиска для: <strong>"{{ search_query }}"</strong></p>
    {% endif %}


    {% for post in posts %}
        <article class="media content-section">
            <div style="display: flex; gap: 10px; align-items: flex-start;">
                <img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}">
                <p class="main-user">{{ post.user }}</p>
            </div>

          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post.postDate|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        {% empty %}
            <div class="alert alert-info">
                {% if search_query %}
                    По запросу "{{ search_query }}" ничего не найдено.
                {% else %}
                    Нет доступных постов.
                {% endif %}
            </div>
    {% endfor %}
{% endblock content %}